body {
  background-image: url('/images/Screenshot 2024-08-15 232702.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
